* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --color_black: black;
    --color_white: white;
    --color_secondary: #989898;
}


nav {
    margin-top: 120px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    margin-left: 80px;
}

nav ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul li {
    list-style-type: none;
    margin: 0 10px;
    transition: ease-in-out 0.2s;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color_white);
    font-size: 1.2em;
    position: relative;
    z-index: 10;
}

.tailles_icone:hover {
    transform: scale(1.1);
    color: var(--color_white);
}

li:hover {
    color: black;
    z-index: 10;
}

.contient_titre {
    height: 520px;
    background-color: var(--color_black);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.titre {
    padding-top: 134px;
    width: 674px;
    padding-left: 275px;
}


.hello {
    font-size: larger;
    color: #989898;
}

.moi {
    font-size: xx-large;
    color: white;
}

.icones {
    display: flex;
    height: 50px;
    justify-content: center;
    height: 50px;
}

.tailles_icone {
    margin-right: 40px;
    margin-top: 15px;
    color: var(--color_white);
    width: 35px;
    height: 35px;
}

.pres {
    display: flex;
    width: 100%;
    color: var(--color_white);
    height: 500px;
    /* background-image: url(../bzck-descr.jpg); */
    background-repeat: no-repeat;


}

.deux {
    padding-left: 30px;
    padding-top: 30px;
    color: var(--color_white);
    height: 500px;
    width: 50%;
    background-color: #736f65;
    background-repeat: no-repeat;


}

.un {
    padding-left: 30px;
    padding-top: 30px;
    color: var(--color_white);
    height: 500px;
    width: 50%;
    background-color: var(--color_white);
    background-repeat: no-repeat;
}

.pres p {
    width: 500px;
    color: #454242;
}

.bio {
    font-size: large;
    color: var(--color_white);
    margin-top: 53px;
}

nav ul li::before {
    content: "";
    width: 4px;
    height: 65%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    transition: all 0.2s;
    z-index: 0;
}

li {
    position: relative;
    transition: all 0.2s;
}

li:hover::before {
    width: 100%;

}

li:hover a {
    color: black;
}

a:hover {
    color: black;
}

h1 {
    color: var(--color_black);
}

.front,
.tt_perso,
.pp {
    color: var(--color_white) !important;
}

.front {
    margin: 20px;
    opacity: 85%;
}

h3 {
    padding-bottom: 10px;
}

.face {
    top: 116px;
    right: 126px;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    outline: 10px solid rgb(194, 179, 179);
    background: repeating-radial-gradient(circle at 50% 50%,
            rgba(200, 200, 200, .2) 0%, rgba(200, 200, 200, .2) 2%,
            transparent 2%, transparent 3%, rgba(200, 200, 200, .2) 3%,
            transparent 3%), conic-gradient(white 0%, silver 10%,
            white 35%, silver 45%, white 60%, silver 70%,
            white 80%, silver 95%, white 100%);
    box-shadow: inset 0 0 20px #0007;
}

.hour {
    position: absolute;
    width: 5px;
    height: 60px;
    background: #aaa;
    left: 87.5px;
    top: 43px;
    border-radius: 3px 3px 1px 1px;
    transform-origin: 2px 47px;
    box-shadow: 0 0 5px #0005, inset 1.5px 3px 0px #333, inset -1.5px -3px 0px #333;
    z-index: 1;
    animation: watch 43200s linear infinite;
}

.minute {
    position: absolute;
    width: 4px;
    height: 78px;
    background: #aaa;
    left: 88px;
    top: 25px;
    border-radius: 3px 3px 1px 1px;
    transform-origin: 2px 65px;
    box-shadow: 0 0 5px #0005, inset 1.5px 3px 0px #333, inset -1.5px -3px 0px #333;
    z-index: 2;
    animation: watch 3600s linear infinite;
}

.second {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    left: 85px;
    top: 85px;
    border-radius: 50%;
    border: 1px solid #eee;
    z-index: 3;
    animation: watch 60s steps(60, end) 0s infinite;
}

.second::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 85px;
    left: 3px;
    bottom: -10px;
    background: red;
    border-radius: 2px;
    box-shadow: 5px 0 2px rgba(128, 128, 128, 0.2);
}

.second::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 2px;
    top: 2px;
    background: #555;
    border-radius: 50%;
}

.v-index {
    position: absolute;
    color: #333;
    font-size: 24px;
    left: 83.5px;
    top: -3px;
    text-shadow: 0 157px 0 #333;
    z-index: 1
}

.h-index {
    position: absolute;
    color: #333;
    font-size: 24px;
    top: 72px;
    left: 5px;
    transform: rotate(-90deg);
    text-shadow: 0 158px 0 #333;
    z-index: 1;
}

@keyframes watch {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}